.post
  -if @posts.empty?
    %h2 No drafts.
  -else
    %h2 Drafts
  .hr
    
-@posts.each do |post|
  .post
    %h2
      %a{:href => "#{post.full_url}", :title => "#{post.title}"} #{post.title}
    .date
      #{post.created_at.day} #{month(post.created_at.month)} #{post.created_at.year}
    %p
      #{post.content}

    .meta
      .tags
        %ul
          %li
            -post.tags.each do |tag|
              %a{:href => "/tag/#{tag.content}"}
                #{tag.content}
      .permalink
        %a{:href => "#{post.full_url}", :title => "Permalink"} Permalink
  .hr
